<h4>Formulario de Registro de Equipo</h4>
<form class="row" (ngSubmit)="emitEquip()">
    <label for="nameEquip">Nombre del dispositivo</label>
    <input type="text" [(ngModel)]="equip.nameEquip" name="nameEquip" id="nameEquip" class="form-control mb-2" placeholder="" required>
    
    <label for="brand">Marca</label>
    <input type="text" [(ngModel)]="equip.brand" name="brand" id="brand" class="form-control mb-2" placeholder="" required>
    
    <label for="model">Modelo</label>
    <input type="text" [(ngModel)]="equip.model" name="model" id="model" class="form-control mb-2" placeholder="" required>
    
    <label for="specialization">Especialización</label>
    <select [(ngModel)]="equip.specialization" name="specialization" id="specialization">
        <option *ngFor="let option of options" [value]="option.value">
            {{ option.label }}
        </option>
    </select>

    <label for="amount">Cantidad</label>
    <input type="number" [(ngModel)]="equip.amount" name="amount" id="amount" class="form-control mb-2" placeholder="" step="1" required>
    
    <label for="unitPrice">Precio unitario</label>
    <input type="number" [(ngModel)]="equip.unitPrice" name="unitPrice" id="unitPrice" class="form-control mb-2" placeholder="" step="0.01" required>

    <button type="submit" *ngIf="!isEditing" class="btn btn-primary">Agregar</button>
    <button type="submit" *ngIf="isEditing" class="btn btn-success">Actualizar</button>
    <pre> {{equip | json}} </pre>
</form>