<h4>Formulario de Registro de Equipo</h4>
<form class="row" (ngSubmit)="emitEquip()">
    <label for="nameEquip">Nombre del dispositivo</label>
    <input type="text" [(ngModel)]="equip.nameEquip" name="nameEquip" id="nameEquip" class="form-control mb-2" placeholder="" required>
    
    <label for="brand">Marca</label>
    <input type="text" [(ngModel)]="equip.brand" name="brand" id="brand" class="form-control mb-2" placeholder="" required>
    
    <label for="model">Modelo</label>
    <input type="text" [(ngModel)]="equip.model" name="model" id="model" class="form-control mb-2" placeholder="" required>
    
    <label for="specialization">Especialización</label>
    <select id="specialization">
        <option value="" disabled selected>-- Seleccione una opción --</option>
        <option value="cardiologia">Cardiología</option>
        <option value="radiologia">Radiología e Imagenología</option>
        <option value="neurologia">Neurología</option>
        <option value="ginecologia">Ginecología y Obstetricia</option>
        <option value="anestesiologia">Anestesiología y Cuidados Críticos</option>
    </select>

    <label for="amount">Cantidad</label>
    <input type="number" [(ngModel)]="equip.amount" name="amount" id="amount" class="form-control mb-2" placeholder="" step="1" required>
    
    <label for="unitPrice">Precio unitario</label>
    <input type="number" [(ngModel)]="equip.unitPrice" name="unitPrice" id="unitPrice" class="form-control mb-2" placeholder="" step="0.01" required>

    <button type="submit" class="btn btn-primary">
        Agregar
    </button>
    <pre> {{equip | json}} </pre>
</form>